.current-image {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.current-image__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
